# Config for docker build to only transfer required files to docker daemon
OpenPedCan-analysis
.git
tests
db/bk
db/build_outputs

# ! excludes patterns
!OpenPedCan-analysis/data
!OpenPedCan-analysis/analyses/long-format-table-utils
